version: '3.8'

services:
  postgres:
    image: postgres:18-alpine
    container_name: hotel-postgres
    environment:
      POSTGRES_DB: hotel
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      PGDATA: /var/lib/postgresql
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./docker/init-scripts:/docker-entrypoint-initdb.d
    networks:
      - hotel-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d hotel"]
      interval: 10s
      timeout: 5s
      retries: 5


  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: hotel-user-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: ${DATABASE_URL}
      SPRING_DATASOURCE_USERNAME: ${DATABASE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_KEY}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - hotel-network
    restart: unless-stopped

networks:
  hotel-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
