spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: ${DATABASE_HOST}/user-service?currentSchema=public&ssl=false
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 5MB

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  sql:
    init:
      mode: never

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: false
    defer-datasource-initialization: true

  thymeleaf:
    check-template-location: true
    cache: true


server:
  error:
    whitelabel:
      enabled: false
  forward-headers-strategy: native


jwt:
  secret: ${JWT_KEY}
  expiration: ${JWT_EXPIRATION:3600000}
