spring:
  config:
    import: optional:file:../../../shared-configuration/application-common-dev.yaml
  application:
    name: api-gateway
    cloud:
      gateway:
        routes:

          - id: auth-service
            uri: ${AUTH_SERVICE_URL}
            predicates:
              - Path=/api/auth/**
            filters:
              - StripPrefix=0

          - id: user-service
            uri: ${USER_SERVICE_URL}
            predicates:
                - Path=/api/users/**
            filters:
                - StripPrefix=0

          - id: booking-service
            uri: ${BOOKING_SERVICE_URL}
            predicates:
              - Path=/api/bookings/**
            filters:
              - StripPrefix=0

          - id: room-service
            uri: ${ROOM_SERVICE_URL}
            predicates:
              - Path=/api/rooms/**,/api/room-types/**,/api/amenities/**
            filters:
              - StripPrefix=0

          - id: payment-service
            uri: ${PAYMENT_SERVICE_URL}
            predicates:
              - Path=/api/payments/**
            filters:
              - StripPrefix=0

          - id: notification-service
            uri: ${NOTIFICATION_SERVICE_URL}
            predicates:
              - Path=/api/notifications/**
            filters:
              - StripPrefix=0


server:
  port: 8080


jwt:
  secret: ${JWT_SECRET}
  issuer: ${JWT_ISSUER:hotel-management-system}


management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always


logging:
  level:
    org.springframework.cloud.gateway: INFO
    com.hotel.gateway: DEBUG
